@using CarInsuranceSignUp.Models
@model List<InsuranceQuote>


<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Your Quote</h5>
        </div>
        <div class="card-body">

            @foreach (var quote in Model)
            {

                <div class="row">
                    <div class="col">
                        @quote.FirstName  @quote.LastName
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @quote.EmailAddress
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @quote.CarYear.ToString()
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @quote.CarMake
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @quote.CarModel
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @quote.Dui
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @quote.Tickets
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @quote.Coverage
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @quote.QuoteTotal
                    </div>
                </div>

            }
        </div>
    </div>
 </div>








